<a href="https://colab.research.google.com/github/Kutmanegmkl/project1/blob/main/dict_seminar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dict seminar


```
# dict comprehension
{key: value for key, value in f({множество}) if {условие}}
```

# Task_1

Cоздайте пустой словарь. Затем добавте в него пару 'key': 'value':

* key = 'ID_32'
* value = 'Simon23'

In [3]:
dict_ =dict()
key = 'ID_32'
value = 'Simon23'

In [5]:
dict_[key]=value
dict_

{'ID_32': 'Simon23'}

# Task_2

Дан словарь. Организуйте пользовательский ввод с клавиатуры имени студента и его балл за экзамен.

Добавьте эту пару ('name': 'score') в данный словарь.

In [7]:
score_dict = {'Kate': 90, 'Nick': 74}
name =input("Enter your name:")
score =int(input("Your score:"))

Enter your name:Kutti
Your score:194

In [8]:
score_dict[name]=score

In [9]:
score_dict

{'Kate': 90, 'Nick': 74, 'Kutti': 194}

# Task_3

Дан словарь. Выведите на отображение:

* Все его ключи
* Все его значения

In [10]:
dict_ = {123: 'Moskow', 234: 'New-York', 532: 'Dublin', 554: 'Neapol', 653: 'Paris', 234: 'Sarov', 564: 'Tokmak'}

In [19]:
dict_.keys()

dict_keys([123, 234, 532, 554, 653, 564])

In [20]:
dict_.values()

dict_values(['Moskow', 'Sarov', 'Dublin', 'Neapol', 'Paris', 'Tokmak'])

# Tack_4

В словаре из прошлой задачи замените значение 'Dublin' на новое значение 'Stambul' по ключу 532.

In [22]:
dict_ = {123: 'Moskow', 234: 'New-York', 532: 'Dublin', 554: 'Neapol', 653: 'Paris', 234: 'Sarov', 564: 'Tokmak'}

In [23]:
dict_[532]='Stambul'

In [24]:
dict_

{123: 'Moskow',
 234: 'Sarov',
 532: 'Stambul',
 554: 'Neapol',
 653: 'Paris',
 564: 'Tokmak'}

# Task_5*

Из словаря из предыдущей задачи достаньте вторую пару 'key': 'value' по индексу, если это возможно.

In [42]:
dict_ = {123: 'Moskow', 234: 'New-York', 532: 'Dublin', 554: 'Neapol', 653: 'Paris', 234:'Sarov', 564: 'Tokmak'}

In [43]:
dict_[234][::-1]

'voraS'

# Task_6

Напишите программу, которая последовательно запрашивает информацию по студентам с результатами их теста. Дан пустой словарь, куда будут сохраняться пары 'name': 'score'. Сделайте процесс запроса циклическим. На каждой  итерации программа принимает от пользователя команду 'next' или 'stop'. Если пользователь ввел 'next', то программа запрашивает имя и балл студента. Так продолжается многократно, пока пользователь не введет команду 'stop', после чего программа выводит сообщение "Ввод данных завершен".

Чтобы остановить цикл существует команда 'break'.

Посмотрите код ниже, чтобы проверить, как это работает.

In [52]:
# your part
score_dict = {}
next='next'

In [53]:
while next=='next':
  name=input("Enter your name:")
  score=input("Enter your score:")
  score_dict[name]=int(score)
  next=input("next/stop")

Enter your name:Kuttu
Enter your score:189
next/stopnext
Enter your name:kuttu
Enter your score:194
next/stopstop

In [54]:
score_dict

{'Kuttu': 189, 'kuttu': 194}

# Task_7

Дан список чисел. Составте словарь с описательной статистикой по этим числам:

* 'count' - количество чисел в списке
* 'min' - минимальное значение в списке
* 'mean' - среднее арифметическое
* 'max' - максимальное значение в списке
* 'sum' - сумма всех чисел в списке



```
input:
[1, 2, 3, 4, 5]

output:
{'count': 5, 'min': 1, 'mean': 3, 'max': 5, 'sum': 15}
```

In [61]:
list_ = [3, 5, 4, 6, 5, 3, 12, 13, 14, 35, 46, 57, 46, 35]
dict_=dict()

In [64]:
dict_['count']=len(list_)
dict_['min']=min(list_)
dict_["mean"]=round(sum(list_)/len(list_),2)
dict_["max"]=max(list_)
dict_["sum"]=sum(list_)
dict_

{'count': 14, 'min': 3, 'mean': 20.29, 'max': 57, 'sum': 284}

# Task_8

Дана строка. В ней есть заглавные символы, строчные символы и цифры. Составте словарь с ключами:

* 'upper' - количество заглавных букв
* 'lower' - количество строчных букв
* 'digit' - количество цифр



```
input:
'AbaaBBaB123'

output:
{'upper': 4,
'lower': 3,
'digit': 3}
```

functions:


```
isupper()
islower()
isdigit()
```

In [73]:
str_ = 'gGHJjhfgfj6546GGjjhjJhJ76GC6780HJKhiu87687gGHj5422244AAal'
dict_={'upper':0,'lower':0,'digit':0}

In [74]:
for i in str_:
  if i.isupper():
    dict_['upper']=dict_['upper']+1
  elif i.islower():
    dict_['lower']+=1
  if i.isdigit():
    dict_['digit']+=1

In [75]:
dict_

{'upper': 16, 'lower': 19, 'digit': 22}

# Task_9

Дана строка. Составте словарь, где ключи будут индексами символов а значения самими символами строки. Решите задачу с помощью классического цикла и dict comprehension.



```
str_ = 'abc12'

output:
{0: 'a', 1: 'b', 2: 'c', 3: '1', 4: '2'}
```

In [77]:
str_ = 'hjkfh2345j6k'

In [78]:
dict_={k:v for k,v in enumerate(str_)}

In [80]:
dict_

{0: 'h',
 1: 'j',
 2: 'k',
 3: 'f',
 4: 'h',
 5: '2',
 6: '3',
 7: '4',
 8: '5',
 9: 'j',
 10: '6',
 11: 'k'}

# Task_10

Дана строка. Составте словарь cо всеми словами в строке. Ключи будут указывать номер слова в строке начиная с 1. Решите задачу с помощью классического цикла и dict comprehension.



```
str_ = 'Шел мужик попукивал палочкой постукивал.'

output:
{1: 'Шел',
2: 'мужик',
3: 'попукивал',
4: 'палочкой',
...}
```

In [85]:
str_ = 'Однажды в студеную зимнюю пору я из лесу вышел; был сильный мороз.'
list_=str_.replace(';','').split()

In [86]:
dict_={k:v for k,v in zip(range(1,len(list_)+1),list_)}

In [87]:
dict_

{1: 'Однажды',
 2: 'в',
 3: 'студеную',
 4: 'зимнюю',
 5: 'пору',
 6: 'я',
 7: 'из',
 8: 'лесу',
 9: 'вышел',
 10: 'был',
 11: 'сильный',
 12: 'мороз.'}

In [93]:
dict__={k+1:v for k, v in enumerate(str_.replace(';','').replace('.','').split())}

In [94]:
dict__

{1: 'Однажды',
 2: 'в',
 3: 'студеную',
 4: 'зимнюю',
 5: 'пору',
 6: 'я',
 7: 'из',
 8: 'лесу',
 9: 'вышел',
 10: 'был',
 11: 'сильный',
 12: 'мороз'}

# Task_11

Даны два списка. Первый список содержит ключи, второй значения. Составте из них словарю. Решите задачу классически и используя dict comprehension.

In [96]:
keys = [860, 862, 882, 907, 911]
values = ['Petr', 'Ulan', 'Bektur', 'Kate', 'Den']

In [98]:
d={k:v for k, v in zip(keys, values)}

In [99]:
d

{860: 'Petr', 862: 'Ulan', 882: 'Bektur', 907: 'Kate', 911: 'Den'}

# Task_12

Дан словарь с посещениями страницы сайта пользователями. Сложите все ID и все количества посещений в отдельные списки. Найдите ID самого активного пользователя.

In [101]:
users = { 'ID_1234': 12,
          'ID_25343': 13,
          'ID_4564': 34,
          'ID_6644': 23,
          'ID_3453': 45,
          'ID_45645': 23,
          'ID_5656': 70,
          'ID_43456': 34,
          'ID_57567': 45,
          'ID_6745': 57,
          'ID_6756': 36,
          'ID_45654': 34}

In [107]:
ids=list(users.keys())

In [108]:
ints=list(users.values())

In [109]:
ids[ints.index(max(ints))]

'ID_5656'

# Task_13

Решите предыдущую задачу не используя списки.

Вам может помоч функция items()

In [ ]:
users = { 'ID_1234': 12,
          'ID_25343': 13,
          'ID_4564': 34,
          'ID_6644': 23,
          'ID_3453': 45,
          'ID_45645': 23,
          'ID_5656': 70,
          'ID_43456': 34,
          'ID_57567': 45,
          'ID_6745': 57,
          'ID_6756': 36,
          'ID_45654': 34}

In [111]:
max_v=0
max_k=None
for k,v in users.items():
  if v>max_v:
    max_v=v
    max_k=k
max_k,max_v

('ID_5656', 70)

# Task_14

Даны два списка. Добавте их в словарь по ключам 'name' и 'score'.



```
a = [1, 2, 3]
b = [4, 5, 6]

output:
{a:[1, 2, 3], b:[4, 5, 6]}
```

In [113]:
a = [1, 2, 3]
b = [4, 5, 6]

In [116]:
dict_={"a":a,'b':b}
dict_

{'a': [1, 2, 3], 'b': [4, 5, 6]}

# Task_15

Дан словарь, где по ключам храняться списки. Добавте в список по ключу 'key_1' новое значение 100.

In [117]:
dict_ = {'key_1': [1, 2, 3, 20], 'key_2': [23, 234, 45], 'key_3': [1]}

In [118]:
dict_['key_1'].append(100)

In [123]:
dict_['key_1']

[1, 2, 3, 20, 100]

# Task_16

Дан список со смешанным типом данных. Дан словарь, где ключи соответствуют типам данных. По каждому ключу создан пустой лист. В эти листы сложите элементы из исходного списка по ключу с именем соответствующего типа.



```
list_ = [1, 2, 2.3, 43, 'sd', 2, '23', '3.4']

output:
{'int': [1, 2, 43, 2],
'float': [2.3],
'str': ['sd', '23', '3.4']}
```

In [139]:
getero_list = [34, 2.3, 24, '3.3', 'sd', 24, '234.2', 'df3', 321, 43, 'fds.r', 23.3, '32.0', 23, 'ds']

In [140]:
dict_={}
dict_['int'],dict_['float'],dict_['str']=[],[],[]

In [141]:
for i in getero_list:
  if isinstance(i,int):
    dict_['int'].append(i)
  elif isinstance(i,float):
    dict_['float'].append(i)
  if isinstance(i, str):
    dict_['str'].append(i)

In [142]:
dict_

{'int': [34, 24, 24, 321, 43, 23],
 'float': [2.3, 23.3],
 'str': ['3.3', 'sd', '234.2', 'df3', 'fds.r', '32.0', 'ds']}

# Task_17

Дан список. Создайте словарь, где будет два ключа и им будут соответствовать пустые списки.

* 'even'- для четных
* 'odd' - для нечетных

Сложите все элементы списка под четными индексами в список по ключу 'even', и под нечетными соответственно в список по ключу 'odd'.

In [149]:
list_ = [12, 13, 24, 35, 46, 35, 36, 47, 58, 45, 3, 4, 6, 5, 34, 45]

In [150]:
dict_=dict()
dict_['even'],dict_['odd']=[],[]

In [152]:
for i in range(len(list_)):
  if i%2==0:
    dict_['even'].append(list_[i])
  else:
    dict_['odd'].append(list_[i])
dict_

{'even': [12, 24, 46, 36, 58, 3, 6, 34, 12, 24, 46, 36, 58, 3, 6, 34],
 'odd': [13, 35, 35, 47, 45, 4, 5, 45, 13, 35, 35, 47, 45, 4, 5, 45]}

# Task_18

Дан словарь. Сформируйте новый словарь, где id будут ключами и рейтинги значениями.



```
output:

{'ID_123': 3.1, 'ID_234': 4.6 ...}
```

In [154]:
id_rat_dict = {'id': ['ID_123', 'ID_234', 'ID_235', 'ID_234', 'ID_345', 'ID_456', 'ID_67', 'ID_567', 'ID_4563', 'ID_560'],
              'rating': [3.1, 4.6, 5, 4.8, 3.4, 3.1, 2.9, 1.1, 2.7, 4]}

In [157]:
dict_={}
for k,v in zip(id_rat_dict["id"], id_rat_dict['rating']):
  dict_[k]=v

In [158]:
dict_

{'ID_123': 3.1,
 'ID_234': 4.8,
 'ID_235': 5,
 'ID_345': 3.4,
 'ID_456': 3.1,
 'ID_67': 2.9,
 'ID_567': 1.1,
 'ID_4563': 2.7,
 'ID_560': 4}

# Task_19

Решите обратную задачу. Верните полученный словарь к виду:



```
{'id': ['ID_123', 'ID_234', ...],
 'rating': [3.1, 4.6, ...]}
```

In [160]:
dict_id={'id':[],'rating':[]}

In [161]:
id_dict = {'ID_123': 3.1,
           'ID_234': 4.8,
           'ID_235': 5,
           'ID_345': 3.4,
           'ID_456': 3.1,
           'ID_67': 2.9,
           'ID_567': 1.1,
           'ID_4563': 2.7,
           'ID_560': 4}

In [162]:
for k,v in id_dict.items():
  dict_id['id'].append(k)
  dict_id['rating'].append(v)

In [164]:
dict_id

{'id': ['ID_123',
  'ID_234',
  'ID_235',
  'ID_345',
  'ID_456',
  'ID_67',
  'ID_567',
  'ID_4563',
  'ID_560'],
 'rating': [3.1, 4.8, 5, 3.4, 3.1, 2.9, 1.1, 2.7, 4]}

# Task_20

Дан список со словарями по каждой роли в фильме. В каждом словаре по ключу 'character' хранится имя персонажа, а по ключу 'name' имя актера, который его играет. Составте новый словарь 'character_dict', в котором будут ключи и значения соответствовать именая персонажа и актера соответственно.

In [173]:
#@title DATA
credit_list = [{'cast_id': 25,
                'character': 'Lt. Vincent Hanna',
                'credit_id': '52fe4292c3a36847f80291f5',
                'gender': 2,
                'id': 1158,
                'name': 'Al Pacino',
                'order': 0,
                'profile_path': '/ks7Ba8x9fJUlP9decBr6Dh5mThX.jpg'},
              {'cast_id': 26,
                'character': 'Neil McCauley',
                'credit_id': '52fe4292c3a36847f80291f9',
                'gender': 2,
                'id': 380,
                'name': 'Robert De Niro',
                'order': 1,
                'profile_path': '/lvTSwUcvJRLAJ2FB5qFaukel516.jpg'},
              {'cast_id': 27,
                'character': 'Chris Shiherlis',
                'credit_id': '52fe4292c3a36847f80291fd',
                'gender': 2,
                'id': 5576,
                'name': 'Val Kilmer',
                'order': 2,
                'profile_path': '/AlhPeiH8R4reMNGNQ9ag1FPbuW9.jpg'},
              {'cast_id': 28,
                'character': 'Nate',
                'credit_id': '52fe4292c3a36847f8029201',
                'gender': 2,
                'id': 10127,
                'name': 'Jon Voight',
                'order': 3,
                'profile_path': '/c7BvyqlvqDkfkFqSBUCiR21fvTh.jpg'},
              {'cast_id': 29,
                'character': 'Michael Cheritto',
                'credit_id': '52fe4292c3a36847f8029205',
                'gender': 2,
                'id': 3197,
                'name': 'Tom Sizemore',
                'order': 4,
                'profile_path': '/soINOuacuiThRb2LyPD4tTWve7C.jpg'},
              {'cast_id': 30,
                'character': 'Justine Hanna',
                'credit_id': '52fe4292c3a36847f8029209',
                'gender': 1,
                'id': 6200,
                'name': 'Diane Venora',
                'order': 5,
                'profile_path': '/3k7w5Y7gTAxN1JML7jhN8F8rVrS.jpg'},
              {'cast_id': 31,
                'character': 'Eady',
                'credit_id': '52fe4292c3a36847f802920d',
                'gender': 1,
                'id': 15851,
                'name': 'Amy Brenneman',
                'order': 6,
                'profile_path': '/xC408loYq7tQlkpS5YH68SoaDND.jpg'},
              {'cast_id': 32,
                'character': 'Charlene Shiherlis',
                'credit_id': '52fe4292c3a36847f8029211',
                'gender': 1,
                'id': 15852,
                'name': 'Ashley Judd',
                'order': 7,
                'profile_path': '/3bgmRDt02iGFVjhqCqstVyEeiwG.jpg'},
              {'cast_id': 33,
                'character': 'Sergeant Drucker',
                'credit_id': '52fe4292c3a36847f8029215',
                'gender': 2,
                'id': 34,
                'name': 'Mykelti Williamson',
                'order': 8,
                'profile_path': '/8TTxzpuvvpw2tB8xZBCDslYupNU.jpg'},
              {'cast_id': 38,
                'character': 'Lauren Gustafson',
                'credit_id': '52fe4292c3a36847f8029229',
                'gender': 1,
                'id': 524,
                'name': 'Natalie Portman',
                'order': 9,
                'profile_path': '/1oEP6OyYZgyLubgJXifx2GO78c7.jpg'},
              {'cast_id': 35,
                'character': 'Bosko',
                'credit_id': '52fe4292c3a36847f802921d',
                'gender': 2,
                'id': 15854,
                'name': 'Ted Levine',
                'order': 10,
                'profile_path': '/7O3vgqgicfNeGr3leC0qB074fjX.jpg'},
              {'cast_id': 39,
                'character': 'Kelso',
                'credit_id': '52fe4292c3a36847f802922d',
                'gender': 2,
                'id': 119232,
                'name': 'Tom Noonan',
                'order': 11,
                'profile_path': '/cpINV4Q8IeVgSLyKz9ldzzAGr5n.jpg'},
              {'cast_id': 41,
                'character': 'Richard Torena',
                'credit_id': '52fe4292c3a36847f8029237',
                'gender': 2,
                'id': 31004,
                'name': 'Tone Loc',
                'order': 12,
                'profile_path': '/o940ZhEYQYrOJdhRnmPrYoc9iOq.jpg'},
              {'cast_id': 42,
                'character': 'Alan Marciano',
                'credit_id': '52fe4292c3a36847f802923b',
                'gender': 2,
                'id': 5587,
                'name': 'Hank Azaria',
                'order': 13,
                'profile_path': '/3vIdbP73nKnKpMAcgGWoALPF2JO.jpg'},
              {'cast_id': 34,
                'character': 'Detective Casals',
                'credit_id': '52fe4292c3a36847f8029219',
                'gender': 2,
                'id': 15853,
                'name': 'Wes Studi',
                'order': 14,
                'profile_path': '/2b1hfAOoVjU7HoSbyHzGjl8DWs1.jpg'},
              {'cast_id': 36,
                'character': 'Donald Breedan',
                'credit_id': '52fe4292c3a36847f8029221',
                'gender': 2,
                'id': 352,
                'name': 'Dennis Haysbert',
                'order': 15,
                'profile_path': '/mn5Nc5Q31GslpVVWs8p41W4TBma.jpg'},
              {'cast_id': 46,
                'character': 'Trejo',
                'credit_id': '52fe4292c3a36847f802924b',
                'gender': 2,
                'id': 11160,
                'name': 'Danny Trejo',
                'order': 16,
                'profile_path': '/7b8cDfrmeheQbgryfCm7MeJOxxM.jpg'},
              {'cast_id': 47,
                'character': 'Hugh Benny',
                'credit_id': '52fe4292c3a36847f802924f',
                'gender': 2,
                'id': 9290,
                'name': 'Henry Rollins',
                'order': 17,
                'profile_path': '/2E0cZdoJsdt1Lv4waG3s6fsfJeU.jpg'},
              {'cast_id': 37,
                'character': 'Roger Van Zant',
                'credit_id': '52fe4292c3a36847f8029225',
                'gender': 2,
                'id': 886,
                'name': 'William Fichtner',
                'order': 18,
                'profile_path': '/apj1bgzZI2efSdJolfp6KjhG8CF.jpg'},
              {'cast_id': 43,
                'character': 'Waingro',
                'credit_id': '52fe4292c3a36847f802923f',
                'gender': 2,
                'id': 34839,
                'name': 'Kevin Gage',
                'order': 19,
                'profile_path': '/egIApa0PPsHkAwrGnOAUtdqO6CQ.jpg'},
              {'cast_id': 44,
                'character': 'Elaine Cheritto',
                'credit_id': '52fe4292c3a36847f8029243',
                'gender': 1,
                'id': 4158,
                'name': 'Susan Traylor',
                'order': 20,
                'profile_path': '/A3ZpoAui1ure4Nx2b83wUMI8lvv.jpg'},
              {'cast_id': 48,
                'character': 'Schwartz',
                'credit_id': '52fe4292c3a36847f8029253',
                'gender': 2,
                'id': 86602,
                'name': 'Jerry Trimble',
                'order': 21,
                'profile_path': '/oDK7NCnz2z2BFV8YquEpj8PBwed.jpg'},
              {'cast_id': 50,
                'character': 'Albert Torena',
                'credit_id': '52fe4292c3a36847f802925b',
                'gender': 2,
                'id': 158452,
                'name': 'Ricky Harris',
                'order': 22,
                'profile_path': '/eJEzFSHTjGdUz1JDThdTR5C1Jrd.jpg'},
              {'cast_id': 54,
                'character': 'Dr. Bob',
                'credit_id': '52fe4292c3a36847f802926b',
                'gender': 2,
                'id': 12799,
                'name': 'Jeremy Piven',
                'order': 23,
                'profile_path': '/qtho4ZUcValnVvscTGgyWfUr4VP.jpg'},
              {'cast_id': 55,
                'character': 'Ralph',
                'credit_id': '52fe4292c3a36847f802926f',
                'gender': 2,
                'id': 3982,
                'name': 'Xander Berkeley',
                'order': 24,
                'profile_path': '/vlZ9FDMk2Xd1WHixPKxnheZoXgR.jpg'},
              {'cast_id': 51,
                'character': 'Anna Trejo',
                'credit_id': '52fe4292c3a36847f802925f',
                'gender': 1,
                'id': 181343,
                'name': 'Begonya Plaza',
                'order': 25,
                'profile_path': '/2TtFPBtz0Bd3CXAc4W5K6zF66RY.jpg'},
              {'cast_id': 56,
                'character': 'Armoured Guard',
                'credit_id': '52fe4292c3a36847f8029273',
                'gender': 2,
                'id': 81687,
                'name': 'Rick Avery',
                'order': 26,
                'profile_path': '/rXar2OrwkorJyQ9dRGf18zUEByW.jpg'},
              {'cast_id': 52,
                'character': "Hooker's Mother",
                'credit_id': '52fe4292c3a36847f8029263',
                'gender': 0,
                'id': 91756,
                'name': 'Hazelle Goodman',
                'order': 27,
                'profile_path': '/kTa2cn8cuJdxKJBqFnYHibIknI9.jpg'},
              {'cast_id': 53,
                'character': 'Timmons',
                'credit_id': '52fe4292c3a36847f8029267',
                'gender': 2,
                'id': 160970,
                'name': 'Ray Buktenica',
                'order': 28,
                'profile_path': '/aMBLygqfsJv3QrBCvvZ7wMc3Ejq.jpg'},
              {'cast_id': 59,
                'character': 'Shooter at Drive-in',
                'credit_id': '52fe4292c3a36847f802927f',
                'gender': 0,
                'id': 175600,
                'name': 'Max Daniels',
                'order': 29,
                'profile_path': '/5zjSVtxyDExuf1913re1lG3k0Q3.jpg'},
              {'cast_id': 60,
                'character': 'Driver at Drive-in',
                'credit_id': '52fe4292c3a36847f8029283',
                'gender': 0,
                'id': 12879,
                'name': 'Vince Deadrick Jr.',
                'order': 30,
                'profile_path': '/z4HIKOQGQj8QXozFpQhj43xlmHm.jpg'},
              {'cast_id': 96,
                'character': 'Officer Bruce',
                'credit_id': '56be773e9251417359005063',
                'gender': 2,
                'id': 9258,
                'name': 'Steven Ford',
                'order': 31,
                'profile_path': '/iw8CUyekmYkGwmg0bp7foY4KvrH.jpg'},
              {'cast_id': 97,
                'character': 'Claudia',
                'credit_id': '56be7769c3a36817f200506f',
                'gender': 1,
                'id': 167501,
                'name': 'Farrah Forke',
                'order': 32,
                'profile_path': '/gmKm7TiZduyyaLlNgWnQEZHTc5Q.jpg'},
              {'cast_id': 99,
                'character': "Bosko's Date",
                'credit_id': '56be794dc3a36818020054bd',
                'gender': 1,
                'id': 95145,
                'name': 'Patricia Healy',
                'order': 33,
                'profile_path': '/RsHWe8vW3Hzbp8FeeEVqOD6Kux.jpg'},
              {'cast_id': 100,
                'character': 'Sergeant Heinz',
                'credit_id': '56be79839251417347004f69',
                'gender': 2,
                'id': 58535,
                'name': 'Paul Herman',
                'order': 34,
                'profile_path': '/vaK8wxkMeKJdZEdGUufyV0Ma24M.jpg'},
              {'cast_id': 101,
                'character': 'Rachel',
                'credit_id': '56be79cec3a36817f200511b',
                'gender': 1,
                'id': 161939,
                'name': 'Cindy Katz',
                'order': 35,
                'profile_path': '/eENk49BVUS9grR2ffwEsYh9Wl69.jpg'},
              {'cast_id': 102,
                'character': 'Captain Jackson',
                'credit_id': '56be79fa9251417344004ea0',
                'gender': 0,
                'id': 6580,
                'name': 'Brian Libby',
                'order': 36,
                'profile_path': '/lvY7hpUtU12BUD8mwQqFymnsxFI.jpg'},
              {'cast_id': 104,
                'character': 'Harry Dieter',
                'credit_id': '56be7a8ac3a36817f200516d',
                'gender': 2,
                'id': 95796,
                'name': 'Dan Martin',
                'order': 37,
                'profile_path': '/u24mFuqwEE7kguXK32SS1UzIQzJ.jpg'},
              {'cast_id': 109,
                'character': 'Bank Guard',
                'credit_id': '56be7bafc3a36817ef005294',
                'gender': 0,
                'id': 166543,
                'name': 'Mario Roberts',
                'order': 38,
                'profile_path': '/TVlt1SNz2zoF2hTqY4HM3MnWHz.jpg'},
              {'cast_id': 110,
                'character': 'Armoured Truck Driver',
                'credit_id': '56be7c61c3a36817ef0052cf',
                'gender': 0,
                'id': 43010,
                'name': 'Thomas Rosales, Jr.',
                'order': 39,
                'profile_path': '/ffDrcpKGvjPgpcjd0t9T6EtQ2hz.jpg'},
              {'cast_id': 112,
                'character': 'Hostage Girl',
                'credit_id': '56be7db1925141735600517b',
                'gender': 1,
                'id': 37252,
                'name': 'Yvonne Zima',
                'order': 40,
                'profile_path': '/dWA4Hsq8kkFXlmWERCoAh1OqK5M.jpg'},
              {'cast_id': 116,
                'character': '1st SIS Detective in the hallway (uncredited)',
                'credit_id': '56be7ed4c3a36817f9005000',
                'gender': 0,
                'id': 1457709,
                'name': 'Mick Gould',
                'order': 41,
                'profile_path': '/6BcVGV4fUITs2jaThbOq4GHlAFU.jpg'},
              {'cast_id': 115,
                'character': 'Solenko, Restaurant Manager (uncredited)',
                'credit_id': '56be7e6e92514173590052b3',
                'gender': 2,
                'id': 4971,
                'name': 'Bud Cort',
                'order': 42,
                'profile_path': '/mwCVkL9BG1ZCF9icbcKjE8TCS7H.jpg'},
              {'cast_id': 123,
                'character': 'Castilian Woman (uncredited)',
                'credit_id': '56be80ed925141735900535e',
                'gender': 0,
                'id': 941147,
                'name': 'Viviane Vives',
                'order': 43,
                'profile_path': '/rGHOmMfoykUQJTnryRAl2t4XXG6.jpg'},
              {'cast_id': 45,
                'character': 'Lillian',
                'credit_id': '52fe4292c3a36847f8029247',
                'gender': 1,
                'id': 17358,
                'name': 'Kim Staunton',
                'order': 44,
                'profile_path': '/9CJmJ5l7DZAtZvdbltalwoV2NfH.jpg'},
              {'cast_id': 49,
                'character': 'Construction Clerk',
                'credit_id': '52fe4292c3a36847f8029257',
                'gender': 2,
                'id': 4790,
                'name': 'Martin Ferrero',
                'order': 45,
                'profile_path': '/gTIclBDE9q6TFmOx7JIn32zTaVk.jpg'},
              {'cast_id': 57,
                'character': "Children's Hospital Doctor",
                'credit_id': '52fe4292c3a36847f8029277',
                'gender': 0,
                'id': 1090464,
                'name': 'Brad Baldridge',
                'order': 46,
                'profile_path': None},
              {'cast_id': 58,
                'character': 'Dominick',
                'credit_id': '52fe4292c3a36847f802927b',
                'gender': 0,
                'id': 1090465,
                'name': 'Andrew Camuccio',
                'order': 47,
                'profile_path': None},
              {'cast_id': 94,
                'character': 'Bartender',
                'credit_id': '56be231dc3a3681806004214',
                'gender': 0,
                'id': 1576419,
                'name': 'Kenny Endoso',
                'order': 48,
                'profile_path': None},
              {'cast_id': 95,
                'character': "Casals' Date",
                'credit_id': '56be7708c3a36817f200504f',
                'gender': 1,
                'id': 106714,
                'name': 'Kimberly Flynn',
                'order': 49,
                'profile_path': None},
              {'cast_id': 98,
                'character': 'Marcia Drucker',
                'credit_id': '56be77fcc3a36817ef005164',
                'gender': 0,
                'id': 116153,
                'name': 'Niki Harris',
                'order': 50,
                'profile_path': None},
              {'cast_id': 103,
                'character': 'Armoured Guard',
                'credit_id': '56be7a30c3a36817f2005154',
                'gender': 0,
                'id': 237923,
                'name': 'Bill McIntosh',
                'order': 51,
                'profile_path': None},
              {'cast_id': 105,
                'character': 'Basketball Player',
                'credit_id': '56be7aabc3a36817f40053ec',
                'gender': 0,
                'id': 4047,
                'name': 'Rick Marzan',
                'order': 52,
                'profile_path': None},
              {'cast_id': 106,
                'character': "Children's Hospital Nurse",
                'credit_id': '56be7aec9251417344004ee2',
                'gender': 0,
                'id': 57347,
                'name': 'Terry Miller',
                'order': 53,
                'profile_path': None},
              {'cast_id': 107,
                'character': 'Detective',
                'credit_id': '56be7b44c3a368180200556a',
                'gender': 0,
                'id': 1576553,
                'name': "Daniel O'Haco",
                'order': 54,
                'profile_path': None},
              {'cast_id': 111,
                'character': 'Prostitute',
                'credit_id': '56be7d28c3a368180200560d',
                'gender': 1,
                'id': 218094,
                'name': 'Kai Soremekun',
                'order': 55,
                'profile_path': None},
              {'cast_id': 113,
                'character': 'Bar Couple (uncredited)',
                'credit_id': '56be7e1c9251411d27000305',
                'gender': 0,
                'id': 1491009,
                'name': 'Peter Blackwell',
                'order': 56,
                'profile_path': None},
              {'cast_id': 114,
                'character': 'Restaurant Patron (uncredited)',
                'credit_id': '56be7e45c3a36817ef005374',
                'gender': 0,
                'id': 1137847,
                'name': 'Trevor Coppola',
                'order': 57,
                'profile_path': None},
              {'cast_id': 118,
                'character': 'Police Woman (uncredited)',
                'credit_id': '56be7f699251417344005036',
                'gender': 1,
                'id': 1504112,
                'name': 'Mary Kircher',
                'order': 58,
                'profile_path': None},
              {'cast_id': 119,
                'character': 'Grocery Store Employee (uncredited)',
                'credit_id': '56be7fbd925141734d005299',
                'gender': 0,
                'id': 1504568,
                'name': 'Darin Mangan',
                'order': 59,
                'profile_path': None},
              {'cast_id': 120,
                'character': 'Cusamano (uncredited)',
                'credit_id': '56be8014c3a36817ef00540a',
                'gender': 2,
                'id': 20625,
                'name': 'Robert Miranda',
                'order': 60,
                'profile_path': None},
              {'cast_id': 121,
                'character': 'Grocery Store Cop (uncredited)',
                'credit_id': '56be8053c3a36817f40055b3',
                'gender': 2,
                'id': 1502517,
                'name': 'Manny Perry',
                'order': 61,
                'profile_path': None},
              {'cast_id': 122,
                'character': 'Waitress (uncredited)',
                'credit_id': '56be80a8925141734400508d',
                'gender': 1,
                'id': 114625,
                'name': 'Iva Franks Singer',
                'order': 62,
                'profile_path': None},
              {'cast_id': 124,
                'character': 'Bank Guard (uncredited)',
                'credit_id': '56be8132925141735900536f',
                'gender': 0,
                'id': 1576562,
                'name': 'Tim Werner',
                'order': 63,
                'profile_path': None},
              {'cast_id': 133,
                'character': 'Ellis (uncredited)',
                'credit_id': '56d48f67925141799e013151',
                'gender': 2,
                'id': 1584544,
                'name': 'Philip Ettington',
                'order': 64,
                'profile_path': None}]

In [168]:
character_dict={}

In [169]:
for i in credit_list:
  character_dict[i['character']]=i['name']

In [188]:
character_dict

{'Lt. Vincent Hanna': 'Al Pacino',
 'Neil McCauley': 'Robert De Niro',
 'Chris Shiherlis': 'Val Kilmer',
 'Nate': 'Jon Voight',
 'Michael Cheritto': 'Tom Sizemore',
 'Justine Hanna': 'Diane Venora',
 'Eady': 'Amy Brenneman',
 'Charlene Shiherlis': 'Ashley Judd',
 'Sergeant Drucker': 'Mykelti Williamson',
 'Lauren Gustafson': 'Natalie Portman',
 'Bosko': 'Ted Levine',
 'Kelso': 'Tom Noonan',
 'Richard Torena': 'Tone Loc',
 'Alan Marciano': 'Hank Azaria',
 'Detective Casals': 'Wes Studi',
 'Donald Breedan': 'Dennis Haysbert',
 'Trejo': 'Danny Trejo',
 'Hugh Benny': 'Henry Rollins',
 'Roger Van Zant': 'William Fichtner',
 'Waingro': 'Kevin Gage',
 'Elaine Cheritto': 'Susan Traylor',
 'Schwartz': 'Jerry Trimble',
 'Albert Torena': 'Ricky Harris',
 'Dr. Bob': 'Jeremy Piven',
 'Ralph': 'Xander Berkeley',
 'Anna Trejo': 'Begonya Plaza',
 'Armoured Guard': 'Bill McIntosh',
 "Hooker's Mother": 'Hazelle Goodman',
 'Timmons': 'Ray Buktenica',
 'Shooter at Drive-in': 'Max Daniels',
 'Driver at Drive-in': 'Vince Deadrick Jr.',
 'Officer Bruce': 'Steven Ford',
 'Claudia': 'Farrah Forke',
 "Bosko's Date": 'Patricia Healy',
 'Sergeant Heinz': 'Paul Herman',
 'Rachel': 'Cindy Katz',
 'Captain Jackson': 'Brian Libby',
 'Harry Dieter': 'Dan Martin',
 'Bank Guard': 'Mario Roberts',
 'Armoured Truck Driver': 'Thomas Rosales, Jr.',
 'Hostage Girl': 'Yvonne Zima',
 '1st SIS Detective in the hallway (uncredited)': 'Mick Gould',
 'Solenko, Restaurant Manager (uncredited)': 'Bud Cort',
 'Castilian Woman (uncredited)': 'Viviane Vives',
 'Lillian': 'Kim Staunton',
 'Construction Clerk': 'Martin Ferrero',
 "Children's Hospital Doctor": 'Brad Baldridge',
 'Dominick': 'Andrew Camuccio',
 'Bartender': 'Kenny Endoso',
 "Casals' Date": 'Kimberly Flynn',
 'Marcia Drucker': 'Niki Harris',
 'Basketball Player': 'Rick Marzan',
 "Children's Hospital Nurse": 'Terry Miller',
 'Detective': "Daniel O'Haco",
 'Prostitute': 'Kai Soremekun',
 'Bar Couple (uncredited)': 'Peter Blackwell',
 'Restaurant Patron (uncredited)': 'Trevor Coppola',
 'Police Woman (uncredited)': 'Mary Kircher',
 'Grocery Store Employee (uncredited)': 'Darin Mangan',
 'Cusamano (uncredited)': 'Robert Miranda',
 'Grocery Store Cop (uncredited)': 'Manny Perry',
 'Waitress (uncredited)': 'Iva Franks Singer',
 'Bank Guard (uncredited)': 'Tim Werner',
 'Ellis (uncredited)': 'Philip Ettington'}

# Task_21

В данном задании используйте credit_list из предыдущей задачи.

Рассчитайте процент актеров из представленных данных, у которых на платформе MovieLens нет фото.

Для этого вам надлежит внимательно изучить структуру данных.

In [189]:
counter=0
for i in credit_list:
  if i['profile_path']==None:
    counter+=1
res=round(counter*100/len(credit_list),2)
res

29.23

# Task_22

Сопоставте id персонажа и актера. Сделайте словаь вида:



```
{'cast_id': [], 'id': []}
```

In [185]:
dict_={'cast_id':[],'id':[]}

In [190]:
for i in credit_list:
  dict_['cast_id'].append(i['cast_id'])
  dict_['id'].append(i['id'])

In [191]:
dict_

{'cast_id': [25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  38,
  35,
  39,
  41,
  42,
  34,
  36,
  46,
  47,
  37,
  43,
  44,
  48,
  50,
  54,
  55,
  51,
  56,
  52,
  53,
  59,
  60,
  96,
  97,
  99,
  100,
  101,
  102,
  104,
  109,
  110,
  112,
  116,
  115,
  123,
  45,
  49,
  57,
  58,
  94,
  95,
  98,
  103,
  105,
  106,
  107,
  111,
  113,
  114,
  118,
  119,
  120,
  121,
  122,
  124,
  133,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  38,
  35,
  39,
  41,
  42,
  34,
  36,
  46,
  47,
  37,
  43,
  44,
  48,
  50,
  54,
  55,
  51,
  56,
  52,
  53,
  59,
  60,
  96,
  97,
  99,
  100,
  101,
  102,
  104,
  109,
  110,
  112,
  116,
  115,
  123,
  45,
  49,
  57,
  58,
  94,
  95,
  98,
  103,
  105,
  106,
  107,
  111,
  113,
  114,
  118,
  119,
  120,
  121,
  122,
  124,
  133],
 'id': [1158,
  380,
  5576,
  10127,
  3197,
  6200,
  15851,
  15852,
  34,
  524,
  15854,
  119232,
  31004,
  5587,
  15853,
  352,
  11160,
  9290,
  886,
  34839,
  4158,
  86602,
  158452,
  12799,
  3982,
  181343,
  81687,
  91756,
  160970,
  175600,
  12879,
  9258,
  167501,
  95145,
  58535,
  161939,
  6580,
  95796,
  166543,
  43010,
  37252,
  1457709,
  4971,
  941147,
  17358,
  4790,
  1090464,
  1090465,
  1576419,
  106714,
  116153,
  237923,
  4047,
  57347,
  1576553,
  218094,
  1491009,
  1137847,
  1504112,
  1504568,
  20625,
  1502517,
  114625,
  1576562,
  1584544,
  1158,
  380,
  5576,
  10127,
  3197,
  6200,
  15851,
  15852,
  34,
  524,
  15854,
  119232,
  31004,
  5587,
  15853,
  352,
  11160,
  9290,
  886,
  34839,
  4158,
  86602,
  158452,
  12799,
  3982,
  181343,
  81687,
  91756,
  160970,
  175600,
  12879,
  9258,
  167501,
  95145,
  58535,
  161939,
  6580,
  95796,
  166543,
  43010,
  37252,
  1457709,
  4971,
  941147,
  17358,
  4790,
  1090464,
  1090465,
  1576419,
  106714,
  116153,
  237923,
  4047,
  57347,
  1576553,
  218094,
  1491009,
  1137847,
  1504112,
  1504568,
  20625,
  1502517,
  114625,
  1576562,
  1584544]}

# Task_23

В представленных данных в словарях есть ключ 'gender':
* 2 - male
* 1 - female

Составте словарь с id актера вида:



```
{'male': [], 'female': []}
```

Каков процент актеров в данном фильме мужчины, а какой женщины?



```
male_perc = ...
female_perc = ...
```

In [184]:
count2=0
count1=0
for i in credit_list:
  if i['gender']==2:
    count2+=1
  elif i['gender']==1:
    count1+=1
res2=round(count2*100/len(credit_list),2)
res1=round(count1*100/len(credit_list),2)
res2,res1

(46.15, 23.08)