<a href="https://colab.research.google.com/github/Kutmanegmkl/project1/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22seminar_for_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Let's practice some exercises using a loop ✌

# Task_1

Распечатайте 10 раз слово Java. Специально мы не просим вас напечатать слово python, чтобы не вызвать у вас негатив по отношению к этому слову)))

Вы можете поэкспериментировать с аргументом 'end' в функции print().

In [ ]:
n=10
while n>0:
  print('Java',end='\n')
  n-=1

Java
Java
Java
Java
Java
Java
Java
Java
Java
Java

# Task_2

Пользователь вводит с клавиатуры слово и число через пробел. Напишите программу, которая распечатывает данное слово в количестве, равное введенному после пробела числу.

In [ ]:
user_input =input()
int_=int(user_input[user_input.index(' ')+1:])
word=user_input[:user_input.index(' ')]

Java 12

In [ ]:
while int_>0:
  print(word,end='\n')
  int_-=1

Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java

# Task_3

Распечатайте все числа из множества $[2, 13)$ через пробел.

In [ ]:
for i in range(2,13):
  print(i,end=' ')

2 3 4 5 6 7 8 9 10 11 12

# Task_4

Все числа из множества $[2, 13)$ сложите в список num_list.

In [72]:
num_list =list(range(2,13))
num_list

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# Task_5

Дан список чисел. Проитерируйтесь по нему циклом и все четные числа выведите на отображение.

In [73]:
num_list = [1, 3, 2, 5, 4, 3, 6, 7, 8, 7, 9, 8]

In [ ]:
for i in num_list:
  if i%2==0:
    print(i)

2
4
6
8
8

# Task_6
Дан список чисел. Проитерируйтесь по нему циклом и удалите из него все нечетные числа. Можете решить задачу двумя способами, используя итерацию по индексам и по элементам непосредственно.

In [74]:
num_list=[1,121,5,445,45,323,34,55,3114,5422,123,444532,2234]

In [75]:
for int_ in num_list[:]:
  if int_%2!=0:
    num_list.remove(int_)

In [76]:
for i in range(len(num_list)-1,-1,-1):
  if (num_list[i]%2)!=0:
    del num_list[i]

In [77]:
num_list

[34, 3114, 5422, 444532, 2234]

# Task_7

Проитерируйтесь по множеству чисел $[4; 21]$ и найдите сумму всех нечетных чисел.

In [ ]:
sum=0
for i in range(4,22):
  if i%2!=0:
    sum=sum+i

In [ ]:
sum

117

# Task_8

Пользователь вводит число с клавиатуры. Найдите сумму всех целых чисел от 1 до данного числа.

In [ ]:
num =int(input())
sum=0

3

In [ ]:
for i in range(0,num+1):
  sum+=i

In [ ]:
sum

6

# Task_9

Пользователь вводит число с клавиатуры. Найдите факториал данного числа.

Факториал числа можно расссчитать по формуле:

$$n! = \displaystyle\prod_{i=1}^{n} i$$

example:



```
4! = 1 * 2 * 3 * 4 = 24
```

In [ ]:
num =int(input())
f=1

5

In [ ]:
for i in range(1,num+1):
  f=f*i

In [ ]:
f

120

# Task_10

Пользователь с клавиатуры вводит число 'n'. Найдите значение выражения:

$$res = \displaystyle\sum_{i=1}^{n} (i^2 - i)$$

In [ ]:
n =int(input())
res =0

5

In [ ]:
for i in range(1,n+1):
  res=res+(i**2-i)

In [ ]:
res

40

# Task_11

Дан список чисел $x$. Рассчитайте значение данного выражения:

$$D(x) = \displaystyle\sum_{i=1}^{n} (x_i - \bar{x})^2$$

Где $\bar{x}$ - среднее арифметическое всех элементов.

In [ ]:
x = [1, 3, 4, 3, 5, 7, 7, 4, 8, 2, 9, 10, 2, 1, 0]
dx=0

In [ ]:
for i in x:
  dx+=(i-(sum(x)/len(x)))**2

In [ ]:
dx

275.2

# Task_12

Дана строка.
* Распечатайте каждый ее элемент.
* Распечатайте каждое слово без знаков пунктуации.

In [ ]:
str_ = 'Ты виноват лишь в том, что хочется мне кушать...'
str_.strip(".")
list_=str_.split(" ")

In [ ]:
for i in str_:
  print(i, end=' ')

Т ы   в и н о в а т   л и ш ь   в   т о м ,   ч т о   х о ч е т с я   м н е   к у ш а т ь . . .

In [ ]:
str2=str_.split('.')
for i in str2:
  if i!=' ' and i!=',':
    print(i)
  else:
    print(" ")

Ты виноват лишь в том, что хочется мне кушать

# Task_13

Дана строка. Сложите каждый ее элемент в список исключая те, которые являются цифрой.



```
str.isdigit()

x = 'f'
x.isdigit()
>>> False

y = '4'
y.isdigit()
>>> True
```

In [ ]:
str_ = 'kjhkj4323kk43kbh543t5'
counter=0

In [ ]:
for i in str_:

  if i.isdigit():
    counter+=int(i)

In [ ]:
counter

36

# Task_14

Дан список слов. Измените список так, чтобы каждое слово было с заглавной буквы.

In [ ]:
word_list = ['apple', 'mountain', 'astronomy', 'aerobic', 'river', 'ant',
             'airplane', 'ocean', 'art', 'alpine', 'guitar', 'atom',
             'dog', 'alligator', 'sun', 'astral', 'box', 'amplifier']

In [ ]:
for i in range(len(word_list)):
  word_list[i]=word_list[i].capitalize()

In [ ]:
word_list

['Apple',
 'Mountain',
 'Astronomy',
 'Aerobic',
 'River',
 'Ant',
 'Airplane',
 'Ocean',
 'Art',
 'Alpine',
 'Guitar',
 'Atom',
 'Dog',
 'Alligator',
 'Sun',
 'Astral',
 'Box',
 'Amplifier']

# Task_15

Дан список слов.
* Сложите все слова, которые начинаются с буквы 'a' в новый список.
* Удалите из основного списка слова, которые начинаются с буквы 'a'.

In [78]:
word_list = ['apple', 'mountain', 'astronomy', 'aerobic', 'river', 'ant',
             'airplane', 'ocean', 'art', 'alpine', 'guitar', 'atom',
             'dog', 'Alligator', 'sun', 'astral', 'box', 'amplifier']

word_with_a = []

In [80]:
for i in range(len(word_list)-1,-1,-1):
  if word_list[i][0]=='a' or word_list[i][0]=='A':
    word_with_a.append(word_list.pop(word_list[i]))
    #del word_list[i]

In [81]:
print(word_with_a)
print(word_list)

['amplifier', 'astral', 'Alligator', 'atom', 'alpine', 'art', 'airplane', 'ant', 'aerobic', 'astronomy', 'apple']
['mountain', 'river', 'ocean', 'guitar', 'dog', 'sun', 'box']

# Task_16

Дан список номеров ID пользователей сайта. Переформатируйте каждый элемент списка в вид 'ID_234'.



```
input:
[234, 256, ...]

output:
['ID_234', 'ID_256', ...]
```

In [ ]:
user_id = [21, 23, 245, 663, 435, 609, 906, 9843]

In [ ]:
for i in range(len(user_id)):
  user_id[i]="ID_"+str(user_id[i])

In [ ]:
user_id

['ID_21', 'ID_23', 'ID_245', 'ID_663', 'ID_435', 'ID_609', 'ID_906', 'ID_9843']

# Task_17

Дан список чисел. Превратите их в четырехзначный вид добавляя перед ними '0'.




```
input:
[23, 234, 1, 1234]

output:
['0023', '0234', '0001', '1234']
```

In [ ]:
num_list = [5, 21, 23, 245, 663, 435, 609, 906, 9843]

In [ ]:
for i in range(len(num_list)):
  num_list[i]=("000"+str(num_list[i]))[-4:]

In [ ]:
num_list

['0005', '0021', '0023', '0245', '0663', '0435', '0609', '0906', '9843']

# Task_18

Дана последовательность одной из нуклеотидных цепей молекулы ДНК. Сделайте по ней репликацию РНК из комплементарных нуклеотидов по правилу:



*   A - U

*   G - C
*   T - A


*   C - G



```
DNA = 'ATTAGC'

RNA = 'UAAUCG'
```

In [ ]:
DNA = 'AATTAGGATGATCGCTAGGCTCGATAGGCTAGTTCCGGGAGCTGACTGC'
dna_list=list(DNA)
dna_list

['A',
 'A',
 'T',
 'T',
 'A',
 'G',
 'G',
 'A',
 'T',
 'G',
 'A',
 'T',
 'C',
 'G',
 'C',
 'T',
 'A',
 'G',
 'G',
 'C',
 'T',
 'C',
 'G',
 'A',
 'T',
 'A',
 'G',
 'G',
 'C',
 'T',
 'A',
 'G',
 'T',
 'T',
 'C',
 'C',
 'G',
 'G',
 'G',
 'A',
 'G',
 'C',
 'T',
 'G',
 'A',
 'C',
 'T',
 'G',
 'C']

In [ ]:
for i in range(len(dna_list)):
  if dna_list[i]=='A':
    dna_list[i]='U'
  elif dna_list[i]=='G':
    dna_list[i]='C'
  elif dna_list[i]=='T':
    dna_list[i]='A'
  elif dna_list[i]=='C':
    dna_list[i]='G'
RNA="".join(dna_list)

In [ ]:
type(RNA)
print(RNA)
print(DNA)

UUUUUCCUUCUUGCGUUCCGUGCUUUCCGUUCUUGGCCCUCGUCUGUCG
AATTAGGATGATCGCTAGGCTCGATAGGCTAGTTCCGGGAGCTGACTGC

# Task_19

Дана последовательности нуклеотидов ДНК. Определите максимальную длину цепочки одинаковых нуклеотидов идущих подряд.



```
DNA = 'ACCGGGGTT
>>> 4
```

In [ ]:
DNA = 'AATTAGGATGATCGCTAGGCTCGATAGGCTAGTTCCGGGGGGGGGGGGAGCTGACTGCCCCCCCCxxxxxxxxxxxxx'

In [ ]:
counter=1
counter_global=1
char=''
list_=[]
list_2=[]
global_char=''


for i in range(len(DNA)-1):
  if DNA[i]==DNA[i+1]:
    char+=DNA[i]
    if len(char)>(len(global_char)):
      global_char=char
      counter_global=len(global_char)+1
  else:
    char=''

In [ ]:
global_char, counter_global

('xxxxxxxxxxxx', 13)

# Task_20

Дана цепочка символов. Сложите в список только уникальзые символы.



```
str_ = 'ABBCABACBGBCABCGBBCBAG'
>>> ['A', 'B', 'C', 'G']
```

In [ ]:
str_ = 'ABBCABACBGBCABCGBBCBAGABCBACGF'
list_=list(set(str_))

In [ ]:
list_, type(list_)

(['A', 'B', 'F', 'G', 'C'], list)

# Task_21

Дана цепочка символов. Определите самый часто встречающийся символ.



```
str_ = 'ABBСССС'
>>> 'C'
```

In [ ]:
str_ = 'ABCABABBCABCGBACBGACFBBBBCCCCBCCCBCCCCGCCCABCCCBAACBCCCCCC'

In [ ]:
list_=list(str_)
set_=set(str_)
counter=0
char=''

In [ ]:
for i in set_:
  if list_.count(i)>counter:
    counter=list_.count(i)
    char=i

In [ ]:
char, counter

('C', 29)

# Task_22

Найдите корни квадратного уравнения итеративным методом (перебором), если корни уравнения являются целочисленными.

$$y = x^2 +4x - 12$$

In [ ]:
f=[]
for i in range(-100,100):
  if i**2+4*i-12==0:
    f.append(i)

In [ ]:
f

[-6, 2]

# Task_23

Найдите минимальное значение функции итеративным методом.

$$y = x^2 - 4x - 3$$

In [ ]:
values=[]
y_temp=1000

In [ ]:
for x in range(-100,101):
  y=x**2-n*x-3
  if y<y_temp:
    y_temp=y

In [ ]:
for x in range(-100,101):
  y=x**2-n*x-3
  values.append(y)

In [ ]:
y_temp, min(values)

(-3, -3)

# Task_24

Найдите значение аргумента, при котором функция принимает минимальное значение.

$$y = x^2 - 4x - 3$$

In [44]:
y_min=1000
x_y_min=None
xlist=[]
ylist=[]

In [45]:
for x in range(-100,100):
  if (x**2-4*x-3)<y_min:
    y_min=(x**2-4*x-3)
    x_y_min=x

In [46]:
for x in range(-100,100):
  ylist.append((x**2-4*x-3))
  xlist.append(x)

In [47]:
min(ylist), xlist[ylist.index(min(ylist))]

(-7, 2)

In [48]:
y_min, x_y_min

(-7, 2)

# Task_25

Напишите программу, которая переберет все числа на множестве $[1, 3]$ с шагом $0.1$ и выведет каждое на отображение.



```
1.0, 1.1, 1.2, 1.3 .... 2.8, 2.9, 3.0
```

In [ ]:
for i in range(1,4):
  for j in range(0,10):
    if i!=3 and j!=0:
      print(str(i)+'.'+str(j),end=' ')

1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9 2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9

# Task_26

Даны два списка чисел. Выполните поэлементную сумму чисел и результат сохраните как новый список.



```
x = [1, 3, 5]
y = [5, 3, 1]
sum_ = [6, 6, 6]
```

In [ ]:
x = [1, 2, 3, 4, 5, 4]
y = [4, 5, 4, 6, 8, 9]
sum_ =[]

In [ ]:
for x_i, y_i in zip(x,y):
  sum_.append(x_i+y_i)

In [ ]:
sum_

[5, 7, 7, 10, 13, 13]

# Task_27

Поверхность задана уравнением:

$$z= 2x^2 + 0.1y^2 -5$$

Даны два списка с аргументами x, y. Для каждой пары чисел рассчитайте z и сохраните в новый список.

In [ ]:
x = [-3, -2, 1, 3, 5, 6]
y = [0, 3, 4, -2, 4, 1]
z = []

In [ ]:
for x_ in x:
  for y_ in y:
    z.append(2*(x_**2)+0.1*(y_**2)-5)

In [ ]:
z

len(z)

36

# Task_28

Даны координаты в виде списков со значением широты и долготы. Сформируйте список сводных значений по образцу:



```
lat = [42.45, 43.543 ...]
lon = [63.543, 71.453 ...]
coords = ['42.45,63.543', '43.543,71.453', ...]
```

In [1]:
lat = [42.424, 43.345, 41.425, 42.356, 44.653, 41.453]
lon = [63.989, 64.996, 71.654, 72.356, 69.836, 70.909]
coords=[]

In [ ]:
for i,j in zip(lat,lon):
  coords.append(str(i)+','+str(j))

In [ ]:
print(coords)

['42.424,63.989', '43.345,64.996', '41.425,71.654', '42.356,72.356', '44.653,69.836', '41.453,70.909']

# Task_29

Перед владельцем загородного дома встала задача построить на участке бассейн объемом 32 кубических метра. Дно бассейна предполагается сделать квадратным. Какова должна быть оптимальная глубина бассейна, чтобы на облицовку дна и стен ушло как можно меньше строительных материалов?

![image.png]()

Решите задачу итеративно. Расчет объема бассейна и площади поверхности можно выполнить по формулам:

$$V = a^2h$$

$$S = a^2 + 4ah$$

In [29]:
values=[]
S=1000
a=[]
b=[]
h=None

In [30]:
values=[]
S=1000
a=[]
b=[]
h=None
for i in range(1,7):
  for j in range(1,33):
    if i**2*j==32:
      values.append(i**2+4*i*j)
      a.append(i)
      b.append(j)
      if i**2+4*i*j<S:
        S=i**2+4*i*j
        h=j

In [27]:
values,a,b

([129, 68, 48, 129, 68, 48], [1, 2, 4, 1, 2, 4], [32, 8, 2, 32, 8, 2])

In [31]:
S,h

(48, 2)

# Task_30

Даны примеры описаний домов с площадки LaLaFo. В описаниях упоминаются такие опции как:

* Вода
* Свет
* Красная книга

Автоматизируйте анализ описаний и составте бинарную таблицу по данным опциям.



```
name      Свет  Вода  Красная книга
house_1    1     1     0
house_2    1     0     0
house_3    0     0     0
house_4    1     0     1
```

In [32]:
house_1 = """
Продаю дом с большим участком 8 соток. На участке имеется газ, свет. Есть красная Книга
"""

house_2 = """
Продается дом с ровным участком, Красная книга, газ, вода, телефон все вопросы - звоните отвечу, здравствуйте!
"""

house_3 = """
Продаю ровный дом с остекленным участком, вода есть в наличии водопровод звоните 89 млн сом.
"""

house_4 = """
Здравствуйте! Продается большой дом из 29 комнат. Хорошо проживать большой семьей с видом на горы.
 Присутствует газ и вода. Документы КРАСНАЯ книга, тех паспорт, договор купли продажи звоните
"""

In [63]:
house1,house2,house3,house4=[0,0,0,],[0,0,0,],[0,0,0],[0,0,0]

In [64]:
for i in house_1.replace('.','').replace(',','').split():
  house1[0]+=i.capitalize()=='Вода'
  house1[1]+=i.capitalize()=='Свет'
  if i.capitalize()=='Красная':
    house1[2]=0.5
  if i.lower()=='книга':
    house1[2]+=0.5
    house1[2]=int(house1[2])

In [65]:
for i in house_2.replace('.','').replace(',','').split():
  house2[0]+=i.capitalize()=='Вода'
  house2[1]+=i.capitalize()=='Свет'
  if i.capitalize()=='Красная':
    house2[2]=0.5
  if i.lower()=='книга':
    house2[2]+=0.5
    house2[2]=int(house2[2])

In [66]:
for i in house_3.replace('.','').replace(',','').split():
  house3[0]+=i.capitalize()=='Вода'
  house3[1]+=i.capitalize()=='Свет'
  if i.capitalize()=='Красная':
    house3[2]=0.5
  if i.lower()=='книга':
    house3[2]+=0.5
    house3[2]=int(house3[2])

In [70]:
for i in house_4.replace('.','').replace(',','').split():
  house4[0]+=i.capitalize()=='Вода'
  house4[1]+=i.capitalize()=='Свет'
  if i.capitalize()=='Красная':
    house4[2]=0.5
  if i.lower()=='книга':
    house4[2]+=0.5
    house4[2]=int(house4[2])

In [82]:
tabb=[house1,house2,house3,house4]
tabb

[[0, 1, 1], [1, 0, 1], [1, 0, 0], [2, 0, 1]]